<div class="bg-blue-400 flex flex-row justify-around items-center  h-16 header">
  <div [routerLink]="'/home'" class="header-logo px-5">
    <img src="assets/DNDLogo.png" alt="Logo" />
  </div>
  <div class="more-information fs">
    <ul class="menu-infor">
      <li *ngFor="let item of menu" class="h-[46px] " routerLinkActive="active-link">
        <a [routerLink]="item.routes">{{ item.name }}</a>
      </li>
    </ul>
  </div>

  <div class="header-icons flex flex-row items-center gap-7">
    <div class="search">
      <i class="fa-solid fa-magnifying-glass icon-searchs" (click)="openSearchPopup()"></i>
    </div>
    <div class="icon-btn-login flex flex-col items-center">
      <i class="fa-solid fa-user"></i>
      <span *ngIf="!isLoggedIn()">
        <a class="link-login" [routerLink]="['/login']">ĐĂNG NHẬP</a>
      </span>
      <span *ngIf="isLoggedIn()">
        <span (click)="onLogOut()">Đăng xuất</span>
      </span>
    </div>
    <div class="icon-btn-card flex flex-col items-center">
      <i class="fa-solid fa-cart-plus"></i>
      <span class="link-cart" [routerLink]="['/cart']">Giỏ hàng</span>
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isPopupVisible">
  <div class="popup-container">
    <div class="close" (click)="closePopup()">×</div>
    <div class="popup-content">
      <div class="form-container">
          <h1 class="timkiem">Tìm kiếm</h1>
        <div class="search-bar">
          <input type="text" placeholder="Tìm kiếm sản phẩm" [(ngModel)]="searchTerm">
          <button (click)="searchItem()" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <div class="menu-container" mat-fixed>
          <div class="mat-elevation-z8 menu-row " mat-fixed >
            <div *ngFor="let element of menuSearch" class="menu-item"
            routerLinkActive="active-link"
            [class.active]="selectedMenuItem === element.name"
             (click)="selectMenu(element.name)"
             >
              {{ element.name }}
            </div>
          </div>
        </div>
        <!-- [class.active]="selectedMenuItem === element.name" -->

        <div *ngIf="selectedMenu" class="content-container">
          <div *ngIf="selectedMenu === 'Dự án'">
            <table mat-table [dataSource]="paginatedProjectsData" class="mat-elevation-z8">
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Thông tin dự án </th>
                <td mat-cell *matCellDef="let project">
                  <div class="info-container">
                    <div class="project-name">{{ project.title }}</div>
                    <div class="project-description">{{ project.description | slice:0:200 }}...</div>
                  </div>
                  <mat-card>
                    <img class="img-project" mat-card-image [src]="project.image" alt="Project Image">
                  </mat-card>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['info']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['info']"></tr>
            </table>

            <div class="pagination">
              <div class="pagination-controls">
                <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
                <ng-container *ngIf="totalPages > 5">
                  <button *ngIf="currentPage > 3" (click)="setPage(1)">1</button>
                  <span *ngIf="currentPage > 3" class="ellipsis">...</span>
                </ng-container>
                <ng-container *ngFor="let page of displayedPages">
                  <button (click)="setPage(page)" [class.active]="currentPage === page">{{ page }}</button>
                </ng-container>
                <ng-container *ngIf="totalPages > 5">
                  <span *ngIf="currentPage < totalPages - 2" class="ellipsis">...</span>
                  <button *ngIf="currentPage < totalPages - 2" (click)="setPage(totalPages)">{{ totalPages }}</button>
                </ng-container>
                <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
              </div>
            </div>
          </div>

          <div *ngIf="selectedMenu === 'Sản phẩm'">
            <div class="scroll-table">
                <table mat-table [dataSource]="paginatedProducts" class="mat-elevation-z8">
                <ng-container matColumnDef="info">
                  <th mat-header-cell *matHeaderCellDef> Thông tin sản phẩm </th>
                  <td mat-cell *matCellDef="let product">
                    <div class="product-info-container">
                      <div class="product-name">{{ product.name }}</div>
                      <div class="product-price">{{ product.description  }}</div>
                    </div>
                    <mat-card>
                      <img class="img-product" mat-card-image [src]="product.image" alt="Product Image">
                    </mat-card>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['info']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['info']"></tr>
              </table>
                <!-- <mat-paginator
                  [length]="totalProductsLength"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="onPageChange($event)"
                  aria-label="Select page">
                </mat-paginator> -->

              <div class="pagination">
                <div class="pagination-controls">
                  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
                  <ng-container *ngIf="totalPages > 5">
                    <button *ngIf="currentPage > 3" (click)="setPage(1)">1</button>
                    <span *ngIf="currentPage > 3" class="ellipsis">...</span>
                  </ng-container>
                  <ng-container *ngFor="let page of displayedPages">
                    <button (click)="setPage(page)" [class.active]="currentPage === page">{{ page }}</button>
                  </ng-container>
                  <ng-container *ngIf="totalPages > 5">
                    <span *ngIf="currentPage < totalPages - 2" class="ellipsis">...</span>
                    <button *ngIf="currentPage < totalPages - 2" (click)="setPage(totalPages)">{{ totalPages }}</button>
                  </ng-container>
                  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
                </div>
              </div>
            </div>

          </div>


          <div *ngIf="selectedMenu === 'Dịch vụ'">
            <table mat-table [dataSource]="paginatedServiceData" class="mat-elevation-z8">
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Thông tin dịch vụ </th>
                <td mat-cell *matCellDef="let product">
                  <div class="product-info-container">
                    <div class="product-name">{{ product.title }}</div>
                    <div class="product-price">{{ product.description  }}</div>
                  </div>
                  <mat-card>
                    <img class="img-product" mat-card-image [src]="product.image" alt="Product Image">
                  </mat-card>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['info']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['info']"></tr>
            </table>

            <div class="pagination">
              <div class="pagination-controls">
                <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
                <ng-container *ngIf="totalPages > 5">
                  <button *ngIf="currentPage > 3" (click)="setPage(1)">1</button>
                  <span *ngIf="currentPage > 3" class="ellipsis">...</span>
                </ng-container>
                <ng-container *ngFor="let page of displayedPages">
                  <button (click)="setPage(page)" [class.active]="currentPage === page">{{ page }}</button>
                </ng-container>
                <ng-container *ngIf="totalPages > 5">
                  <span *ngIf="currentPage < totalPages - 2" class="ellipsis">...</span>
                  <button *ngIf="currentPage < totalPages - 2" (click)="setPage(totalPages)">{{ totalPages }}</button>
                </ng-container>
                <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
