<div class="project">
  <div class="project-container">
    <div class="title">
      <span class="text-black">Các Dự Án Của Chúng Tôi</span>
    </div>

    <div class="project-content pt-20 flex flex-row flex-nowrap justify-center gap-1">
      <div class="project-item" *ngFor="let project of visibleProjects">
        <div class="item-overlay"></div>
        <img class="project-img" [src]="project.image" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span class="title-main">{{ project.title }}</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn" [routerLink]="['/project', project.title]">Xem Thêm</button>
        </div>
      </div>

      <div class="navigation-buttons" *ngIf="isResponsive">
        <button class="fa-solid fa-arrow-left" (click)="prevSlide()"></button>
        <button class="fa-solid fa-arrow-right" (click)="nextSlide()"></button>
      </div>

      <div class="change-route absolute top-20 text-black z-10 right-8 underline">
        <span [routerLink]="'/projects'">Xem tất cả dự án
          <i class="fas fa-arrow-right ml-3 icon"></i>
        </span>
      </div>
    </div>
  </div>
</div>
