<div class="project">
  <div class="project-container">
    <div class="title">
      <span class="text-[#348bd2]">Các Dự Án Của Chúng Tôi</span>
    </div>
    <div class="project-content pt-20 flex flex-row flex-nowrap justify-center gap-1">
      <div class="project-item bg-white ">
        <div class="item-overlay"></div>
        <img class="project-img" src="https://lilama.com.vn/sites/default/files/2_14.jpg" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span>Nhà máy điện Trạch Nhơn 3 và 4</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn">Xem Thêm</button>
        </div>
      </div>
      <div class="project-item">
        <div class="item-overlay"></div>
        <img class="project-img" src="https://lilama.com.vn/sites/default/files/2_14.jpg" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span>Nhà máy điện Trạch Nhơn 3 và 4</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn">Xem Thêm</button>
        </div>
      </div>
      <div class="project-item">
        <div class="item-overlay"></div>
        <img class="project-img" src="https://lilama.com.vn/sites/default/files/2_14.jpg" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span>Nhà máy điện Trạch Nhơn 3 và 4</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn">Xem Thêm</button>
        </div>
      </div>
    </div>
    <div class="change-route absolute bottom-9 text-black font-semibold z-10 left-8 underline ">
      <span>Xem tất cả dự án -></span>
    </div>
  </div>
</div>