<div class="project">
  <div class="project-container">
    <div class="title">
      <span class="text-white">Các Dự Án Của Chúng Tôi</span>
    </div>
    <div class="project-content pt-20 flex flex-row flex-nowrap justify-center gap-1">
      <div class="project-item" *ngFor="let project of projects">
        <div class="item-overlay"></div>
        <img class="project-img" [src]="project.imageSrc" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span class="title">{{project.title}}</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn" [routerLink]="['/project', project.title]">Xem Thêm</button>
        </div>
      </div>
      <!-- <div class="project-item">
        <div class="item-overlay"></div>
        <img class="project-img" src="../../../../../../assets/caotocBN.png" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span>Đường nối dài cao tốc Bắc Nam</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn">Xem Thêm</button>
        </div>
      </div>
      <div class="project-item">
        <div class="item-overlay"></div>
        <img class="project-img" src="../../../../../../assets/caotocBN.png" alt="">
        <div class="project-description absolute bottom-32 right-0 left-0">
          <div class="project-text text-white text-center">
            <span>Đường nối dài cao tốc Bắc Nam</span>
          </div>
        </div>
        <div class="project-button text-center absolute bottom-7 right-0 left-0">
          <button class="text-black btn">Xem Thêm</button>
        </div>
      </div> -->
    </div>
    <div class="change-route absolute bottom-9 text-white z-10 left-8 underline ">
      <span [routerLink]="'/projects'" >Xem tất cả dự án
        <i class="fas fa-arrow-right ml-3 icon"></i>
      </span>
    </div>
  </div>
</div>
