<div class="home-news">
    <div class="news-container relative">
        <div class="news p-[40px]">
            <div class="news-title flex justify-between items-center cursor-pointer">
                <span class="title-text text-[#348bd2] font-bold text-5xl">Tin Tức</span>
                <div class="change-route   text-black z-10 font-semibold text-lg  underline ">
                    <span>Xem tất cả  dịch vụ -></span>
                </div>
            </div>
            <div class="news-content pt-8   mx-auto ">
                <div class="news-item relative shadow-sm cursor-pointer" *ngFor="let item of news">
                    <div class="item-thumbnail">
                        <img class="thumbnail" [src]="item.Thumbnail" alt="">
                    </div>
                    <div class="news-inf py-2">
                        <div class="postDate text-xs">{{item.PostDate}}</div>
                        <div class="title text-sm mt-1 font-semibold">{{item.Title}}</div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>