::ng-deep{
  app-product-relation{

    position: sticky;
    margin-top: 90px;
    .products-container {
      width: 100%;
      // max-width: 1400px;
      margin: 0 auto;
      padding: 20px;
      // background-color: #0052cc;
      border-radius: 10px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
          font-family: Arial, sans-serif;
          font-size: 32px;
          font-weight: bold;
          font-style: italic;
          color: black;
          border-top: 5px solid #0056b3;
          padding-top: 5px;
        }

        .view-all-btn {
          background-color: #0052cc;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      .products-grid {
        border: 3px solid #0056b3;
        border-radius: 15px;
        padding: 35px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;


        .product-card {
          width: 100%;
          border: 1px solid #333;
          border-radius: 10px;
          padding: 10px;
          text-align: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          background-color: #fff;

          img {
            width: 2300px;
            height: 230px;
            border-radius: 5px;
          }

          h3 {
            font-size: 18px;
            margin: 10px 0;
            font-weight: bold;
            color: #333;
            cursor: pointer;
          }

          p {
            font-size: 14px;
            color: #555;
            margin-bottom: 15px;
          }

          .price {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
          }

          .availability {
            font-size: 16px;

            &.available {
              color: green;
            }

            &.out-of-stock {
              color: red;
            }
          }
        }
      }
    }
    @media(max-width:1034px){
      .products-container{
        .header{}
        .products-grid{
          // grid-template-columns: repeat(2, 1fr);
          grid-template-columns: 2fr;
          .product-card{
            // grid-column: span 1;
            // grid-template-columns: 2fr;
            img{}
            h3{}
            p{}
            .price{}
            .availability{}
          }
        }
      }
    }
  }
}


