<div class="products-container">
  <div class="header">
    <h2>{{productTitle}}</h2>
    <button [routerLink]="'/products'" class="view-all-btn">{{buttonText}}</button>
  </div>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" alt="{{product.name}}">
      <h3 [routerLink]="['/products',product.name]">{{product.name}}</h3>
      <p>{{product.description}}</p>
      <div class="price">{{product.price}}</div>
      <div class="availability" >
        <span class="availability" [ngClass]="{'available': product.status,
          'out-of-stock': !product.status}">
          {{ product.status ? 'Còn hàng' : 'Hết hàng' }}</span>
      </div>
    </div>
  </div>
</div>
