<div class="project-container">
  <h2>Dự án</h2>
  <div class="project-card" *ngFor="let project of projects">
      <div class="image">
          <img [src]="project.image" alt="{{project.image}}">
      </div>
      <div class="project-details">
          <!-- <a [routerLink]="'/project-detail'" class="project-title">{{project.title}}</a> -->
          <p class="project-description">
              {{project.description}}
          </p>
          <!-- <a [routerLink]="'/project-detail'" class="project-link">Xem chi tiết</a> -->
      </div>
  </div>
</div>
