<div class="news-section" *ngIf="newsDetail">
  <div class="new-container">
    <h1>{{newsDetail.title}}</h1>

    <p class="content">
      {{newsDetail.content}}
    </p>

    <div class="image-container" >
      <!-- <img *ngFor="let img of newsDetail.mainImage" [src]="img.mainImage" alt="Nhà máy nhiệt điện Nhơn Trạch" /> -->
       <img [src]="newsDetail.imgSrc" alt="">
      <p class="image-caption">{{newsDetail.caption}}</p>
    </div>

    <div class="content-second">
      <p class="content2">
        {{newsDetail.secondaryContents}}
      </p>
      <!-- <img *ngFor="let secondImg of newsDetail.secondaryImages" [src]="secondImg" alt="Nhà máy nhiệt điện Nhơn Trạch"> -->
    </div>

      <!--  -->
  </div>
</div>
