
<div class="cart-container">
  <h1>Giỏ hàng</h1>
  <div class="more-cart">
    <div class="cover-cart-order" >
      <div class="product-container" *ngFor="let item of items">
        <div class="image-cart">
          <img [src]="item.image" alt="Product Image">
        </div>
          <div class="content-cart">
            <h3 class="title">{{item.name}}</h3>
            <p class="description">{{item.description || 'Description is not found'}}</p>
          </div>
          <div class="quantity-cart">
            <button class="quantity-btn-cart" (click)="decreaseQuantity(item)">-</button>
            <input type="number" [(ngModel)]="item.quantity" min="1" readonly [maxlength]="10">
            <button class="quantity-btn-cart" (click)="increaseQuantity(item)">+</button>
            <p class="stock">{{item.quantity > 0 ? 'Còn hàng' : 'Hết hàng'}}</p>
          </div>
          <div class="price-cart">
            <p class="price">{{ item.totalPrice }} VND</p>
          </div>
          <div class="remove-cart">
            <button class="remove-btn" (click)="removeItem(item)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
    </div>

      <div class="order-cart">
        <h4>Thông tin đơn hàng</h4>
        <div class="order-summary">
          <p>Tổng tiền: {{ totalPrice }} VND</p>
          <p>Số lượng sản phẩm: {{ totalQuantity }}</p>
        </div>
        <div class="order-summary">
          <p>Khuyến mãi:</p>
          <!-- <p class="price">{{discount | currency:'VND'}}</p> -->
        </div>
        <div class="order-summary">
          <p>Phí vận chuyển:</p>
          <!-- <p class="price">{{shippingFee | currency:'VND'}}</p> -->
        </div>
        <div class="total-amount">
          <p>Cần thanh toán:</p>
          <p class="amount" >{{getTotalPrice()}} VND</p>
        </div>
        <button class="place-order-btn" (click)="toggleCustomerForm()">Đặt hàng</button>
        <button class="pay-btn" *ngIf="isOrderConfirmed">Thanh toán</button>
      </div>
  </div>
</div>
