<div class="cart-container">
  <div class="image-cart">
    <img src="assets/image 5.png" alt="">
  </div>
  <div class="content-cart">
    <h3 class="title">This is name product</h3>
    <p class="description">description</p>
  </div>
  <div class="quantity-cart">
    <button class="quatity-btn-cart">-</button>
    <input type="number" min="1" readonly>
    <button class="quatity-btn-cart">+</button>
    <p class="stock">con hang</p>
  </div>
  <div class="price-cart">
    <p class="price">Price: 11 </p>
    <p class="cash">Thanh tien: 00</p>
  </div>
  <div class="remove-cart">
    <button class="remove-btn">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
