<div class="vision-mission-container">
  <div class="h1class">

    <h1 class="uppercase font-semibold text-[#0052cc]">Mục tiêu của chúng Tôi</h1>
    <i class="fa fa-chevron-down" style="color: #0056b3;"></i>
  </div>
  <div class="section-wrapper">

    <div class="section">
      <div class="text-content">
        <h2>Sản phẩm và dịch vụ</h2>
        <p>{{Company.field}}</p>
      </div>
      <div class="image-content">
        <img src="assets/sanphamdichvu.png">
      </div>
    </div>

    <div class="section">
      <div class="text-content">
        <h2>Mục tiêu và sứ mệnh</h2>
        <p>{{Company.visionMission}}</p>
      </div>
      <div class="image-content">
        <img src="assets/tamnhinsumenh.png">
      </div>
    </div>

    <div class="section">
      <div class="text-content">
        <h2>Giá trị và cốt lỗi</h2>
        <p>{{Company.coreValues}}</p>
      </div>
      <div class="image-content">
        <img src="assets/giatricotloi.png">
      </div>
    </div>

    <div class="section">
      <div class="text-content">
        <h2>Khách hàng và đối tác</h2>
        <p>{{Company.customer}}</p>
      </div>
      <div class="image-content">
        <img src="assets/khachhangdoitac.png">
      </div>
    </div>

    <div class="section">
      <div class="text-content">
        <h2>Mục tiêu phát triển</h2>
        <p>{{Company.target}}</p>
      </div>
      <div class="image-content">
        <img src="assets/muctieuphattrien.png">
      </div>
    </div>

    <div class="section">
      <div class="text-content">
        <h2>Cam kết chất lượng</h2>
        <p>{{Company.commitQuality}}</p>
      </div>
      <div class="image-content">
        <img src="assets/camketchatluong2.png">
      </div>
    </div>

  </div>
</div>