<div class="home-container">
    <div class="home-header-1">
      <app-p-heaader></app-p-heaader>
    </div>
    <div class="home-header-2">
      <app-p-header2></app-p-header2>
    </div>

  <div class="home-content">

    <div class="banner">
      <app-banner></app-banner>
    </div>

    <app-intro class="right"
        [title]="'WELCOME'"
        [description]="'Tại DND, chúng tôi trao quyền cho mọi người bằng công nghệ để thúc đẩy quá trình chuyển đổi các ngành công nghiệp cần thiết nhằm tạo dựng một xã hội ít carbon và giải quyết các thách thức năng lượng của thế giới.'"
        [buttonText]="'Xem Công Ty'"
        [imageSrc]="'assets/image 3.png'"
        [isRight]="true">
      </app-intro>

      <app-project-slide
        [titleBig]="'Dự án tiêu biểu'"
        [imageSrc]="'assets/projectimage.png'"
        [title]="'Nhà máy điện Trạch Nhơn 3 và 4'"
        [description]="'Dự án nhà máy điện Nhơn Trạch 3, 4 là công trình trọng điểm quốc gia, được xây dựng tại khu công nghiệp Ông Kèo, xã Phước Khánh, huyện Nhơn Trạch, tỉnh Đồng Nai. Dự án có quy mô công suất 1.500MW, tổng mức đầu tư 1,4 tỷ USD. Khi đi vào hoạt động, dự án sẽ bổ sung khoảng 9 tỷ kWh điện/năm cho hệ thống điện quốc gia.'"
        [buttonText]="'Xem thêm dự án'">
      </app-project-slide>

      <app-product-item>

      </app-product-item>

      <app-contact class="left"
        [title]="'Việc làm và sự nghiệp'"
        [description]="'Con người của chúng tôi tạo nên sự khác biệt. Chúng kết nối, sáng tạo và giúp chúng ta đi đúng hướng trong việc thay đổi hệ thống năng lượng của thế giới. Tìm hiểu thêm về sự nghiệp tại DND và cách bạn có thể làm cho ngày mai trở nên khác biệt ngay hôm nay.'"
        [buttonText]="'Liên hệ'"
        [imageSrc]="'assets/image 4.png'"
        [isLeft]="true">
      </app-contact>

  </div>

  <app-more-information></app-more-information>

  <div class="home-footer">
    <app-p-footer></app-p-footer>
  </div>
</div>
