<div class="container" [class.right]="isRight">
  <div class="introHome" *ngFor="let intro of informations">
      <div class="text-container" [class.active]="textActive">
        <h2 class="welcome-text"><span class="highlight">{{ intro.title }}</span></h2>
        <p>{{ intro.description }}</p>
        <button (click)="goToCompany()" [routerLink]="'/about'" class="company-btn">{{ intro.buttonText }}</button>
      </div>

    <div class="image-box" [class.active]="imgActive">
      <img [src]="intro.imageSrc" alt="image description">
    </div>
  </div>

</div>
