.about-us {
  background-color: rgb(241 250 254);
  height: 90vh;
  border-top: 1px solid blue;
  position: relative;



  .about-left {
    z-index: 1;

    .about-left-content {
      .about-name {
        font-size: 40px;
        line-height: 90px;

        .text-name {
          color: #348BD2;
          font-weight: 700;
          font-size: 80px;
        }
      }

      .about-company {
        font-size: 20px;
        line-height: 30px;
        color: rgb(0 82 128);
      }

      .about-description {
        font-size: 20px;
        line-height: 30px;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .link-active {
        font-size: 20px;
        line-height: 30px;
        color: rgb(0 82 128);

        &:hover {
          .text {
            opacity: 70%;
          }

          .icon {
            opacity: 70%;
          }
        }
      }
    }

  }

  .about-right {
    z-index: 1;

    .box-link {
      width: 280px;
      height: 90vh;
      --tw-skew-x: -6deg;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      position: relative;
      cursor: pointer;

      .child-content {
        position: absolute;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 700;
        left: 0;
        right: 0;
        bottom: 100px;
        color: white;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: ease-in-out .3s;

      }

      .overlay-hover {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: ease-in-out .5s;
        z-index: 3;
        position: absolute;
        background: linear-gradient(183.75deg, rgba(10, 50, 90, .6) .99%, #00093a 96.63%);
      }

      &::before {
        background: linear-gradient(184.72deg, hsla(0, 0%, 100%, 0) 44.15%, #348bd2 99.9%);
        position: absolute !important;
        bottom: 0px !important;
        right: 0px !important;
        left: 0px !important;
        height: 100% !important;
        width: 100% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        --tw-content: "" !important;
        content: var(--tw-content) !important;
      }

      &:hover {
        .child-content {
          bottom: 500px;
          transition: ease-in-out .5s;
          font-size: 30px;
        }

        .overlay-hover {
          opacity: 100%;
          transition: ease-in-out .5s;

        }
      }
    }

  }
}