<div class="about-us flex flex-row w-full items-center  relative">
  <div class="about-left w-1/2   items-center  flex flex-row justify-center ">
    <div class="about-left-content w-3/5 items-center">
      <div class="about-name ">Về chúng tôi <span class="text-name text-6xl"> {{Company.name}}</span></div>
      <div class="about-company uppercase">{{Company.about}}</div>
      <div class="about-description">{{Company.description}}</div>
      <a routerLink="/about" class="link-active px-5 py-2 bg-[#0052cc] text-white hover:text-[#0052cc] hover:border rounded-md hover:border-[#0052cc] hover:bg-white">
        <span class=""> Xem thêm</span>
      </a>
    </div>
  </div>

  <!-- right -->

  <div class="about-right flex flex-row flex-1 justify-center">
    <div
      class="box-link bg-cover bg-[url(https://www.biendongco.vn/resources/upload/ESTEC-thiet%20bi%20dien%20cong%20nghiep%202.jpg)]">
      <div class="child-content ">
        <span><i class="fa-regular fa-gem"></i></span>
        <span>Hiệu quả</span>
      </div>
      <div class="overlay-hover"></div>
    </div>
    <div
      class="box-link bg-cover bg-[url(https://alpha.creativecirclecdn.com/nmcwyw/original/20240226-102543-f5cdc263f5ec303c9fe35ddaf55099ab.jpg)]">
      <div class="child-content ">
        <span><i class="fa-regular fa-gem"></i></span>
        <span>Sứ mệnh</span>
      </div>
      <div class="overlay-hover"></div>

    </div>
    <div class="box-link bg-cover bg-[url(https://upload.wikimedia.org/wikipedia/commons/8/84/NIGU_Strain_tower.JPG)]">
      <div class="child-content ">
        <span><i class="fa-regular fa-gem"></i></span>
        <span>Phát triển</span>
      </div>
      <div class="overlay-hover"></div>

    </div>
  </div>

</div>