::ng-deep {
  app-intro {
    .about-us {
      background-color: rgb(241 250 254);
      // height: 90vh;
      border-top: 1px solid blue;
      position: relative;
      // margin-top: 30rem;
      // padding: 1rem 0;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // width: 100%;
      // position: relative;


      .about-left {
        // z-index: 1;
        // width: 50%;
        // display: flex;
        // justify-content: center;

        .about-left-content {
          width: 60%;
          text-align: left;

          .about-name {
            font-size: 40px;
            line-height: 90px;

            .text-name {
              color: #0052cc;
              font-weight: 700;
              font-size: 80px;
            }
          }

          .about-company {
            font-size: 20px;
            line-height: 30px;
            color: rgb(0 82 128);
          }

          .about-description {
            font-size: 20px;
            line-height: 30px;
            margin-top: 4rem;
            margin-bottom: 2rem;
          }

          .link-active {
            font-size: 20px;
            line-height: 30px;
            // color: rgb(0 82 128);


          }
        }

      }

      .about-right {
        z-index: 1;
        display: flex;

        .box-link {
          width: 230.2px;
          height: 90vh;
          --tw-skew-x: -6deg;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          position: relative;
          background-size: cover;
          background-position: center;
          cursor: pointer;

          .child-content {
            position: absolute;
            font-size: 17px;
            line-height: 24px;
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 700;
            left: 0;
            right: 0;
            bottom: 100px;
            color: white;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            z-index: 10;
            transition: ease-in-out .3s;

          }

          .overlay-hover {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: ease-in-out .5s;
            z-index: 3;
            position: absolute;
            background: linear-gradient(183.75deg, rgba(10, 50, 90, .6) .99%, #00093a 96.63%);
          }

          &::before {
            background: linear-gradient(184.72deg, hsla(0, 0%, 100%, 0) 44.15%, #0052cc 99.9%);
            position: absolute !important;
            bottom: 0px !important;
            right: 0px !important;
            left: 0px !important;
            height: 100% !important;
            width: 100% !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            --tw-content: "" !important;
            content: var(--tw-content) !important;
          }

          &:hover {
            .child-content {
              bottom: 500px;
              transition: ease-in-out .5s;
              font-size: 30px;
            }

            .overlay-hover {
              // opacity: 100%;
              // transition: ease-in-out .5s;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.4);
              opacity: 100;
              transition: opacity 0.3s;
            }

            &:hover .overlay-hover {
              opacity: 1;
            }
          }
        }

      }

    }

    @media(max-width:780px) {
      flex-direction: column;

      .about-left,
      .about-right {
        width: 100%;
      }

      // background-image: url('/assets/baotrihethong.jpg');
      background-size: cover;
      background-position: center;
      // color: white;

      .about-right,
      .box-link {
        display: none;
      }

      .about-left-content {
        .text-name {
          font-size: 2rem;
        }

        .about-name {
          color: #00093a;
          font-size: 1.5rem;
        }

        .about-company,
        .about-description,
        .link-active {
          font-size: 0.9rem;
        }

        .about-description {
          color: #00093a;
        }

        .box-link {
          width: 80%;
          height: 150px;
          // opacity: 100;
        }
      }
    }
  }
}