<div class="header">
  <div class="header-logo">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="header-search">
    <input type="text" placeholder="Tìm kiếm thông tin sản phẩm" />
    <button class="search-btn">
      <span class="k-icon k-i-search"></span>
    </button>
  </div>

  <div class="header-user-icon">
    <div class="icon-btn">
      <span class="k-icon k-i-user"></span> Đăng nhập
    </div>
    <div class="icon-btn">
      <span class="k-icon k-i-cart"></span> Giỏ hàng
    </div>
  </div>
</div>
