<div class="mat-elevation-z8 myCustomTable">
  <nz-drawer
  [nzVisible]="visible"
  [nzTitle]="'Thêm dịch vụ mới'"
  [nzWidth]="720"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeDrawer()"
>
<form nz-form *nzDrawerContent>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Tên dịch vụ</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Hãy nhập vào tên dịch vụ..." />
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Giá sản phẩm</nz-form-label>
        <nz-form-control>
          <nz-input-number [(ngModel)]="value" [nzMin]="1" [nzMax]="100000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div> -->
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Loại dịch vụ</nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please select an type"></nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please choose the status"></nz-select>
        </nz-form-control>
      </nz-form-item>
    </div> -->
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>DateTime</nz-form-label>
        <nz-form-control>
          <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            placeholder="please enter url description"
            [nzAutosize]="{ minRows: 4, maxRows: 4 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Image</nz-form-label>
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture"
          [(nzFileList)]="fileList1"
        >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Upload
      </button>
    </nz-upload>
      </nz-form-item>
    </div>
  </div>
</form>
<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px;" >Cancel</button>
    <button nz-button nzType="primary">Submit</button>
  </div>
</ng-template>
</nz-drawer>

<button nz-button nzType="primary" (click)="openDrawer()">Thêm dịch vụ mới</button>

  <app-table [data]="services" [displayedColumns]="displayedColumnsServices">

  </app-table>
</div>

