<div class="tabs">
  <ul class="tab-title" >
    <li *ngFor="let tab of tabs; let i = index"
      [ngClass]="{'active-tab': selectedTab === i}"
        (click)="selectTab(i)" >
      {{ tab.title }}
    </li>
          <!-- <li *ngFor="let tab of tabs; let i = index"
            [class.active]="selectedTab === i"
            (click)="selectTab(i)" >
            {{ tab.title }}
          </li> -->
  </ul>

  <div class="tab-content" *ngIf="product">
    <div *ngIf="selectedTab === 0">{{product?.descriptionRelation}}</div>
    <div *ngIf="selectedTab === 1">{{product?.features}}</div>
    <div *ngIf="selectedTab === 2">{{product?.specifications}}</div>
    <div *ngIf="selectedTab === 3">{{product?.reviews}}</div>
  </div>

</div>



