::ng-deep {
  app-product-infor-relation {
    .tabs {
      background-color: aliceblue;
      border-radius: 20px;
      margin-left: 260px;

      .tab-title {
        display: inline-flex;
        border-bottom: 2px solid #d9d9d9;
        padding: 0px 0px;
        cursor: pointer;
        background: none;
        font-size: 22px;
        color: #000;

        li {
          // text-align: left;
          text-decoration: none;
          list-style-type: none;
          padding: 10px;
          margin-right: 20px;
          transition: background-color 0.3s ease;

          &:not(.active-tab) {
            background-color: white;
          }

          &.active-tab {
            background-color: #007bff;
            color: white;
            border-radius: 10px 10px 0 0;
          }
        }
      }
    }

    .tab-content {
      width: 76.2%;
      font-size: 18px;
      background-color: #f9f9f9;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin-top: -1px;
      padding: 20px;
    }
  }
}
=======
::ng-deep{
  app-product-infor-relation{
    .tabs{
      background-color: aliceblue;
      width: 70%;
      border-radius: 20px;
      // justify-content: center;
      margin-left: 260px;
    
      .tabs {
      margin-top: 30px;
      // display: flex;
      // justify-content: space-between;
      border-bottom: 2px solid #d9d9d9;
      // font-size: 24px;
      display: inline-flex;
    
      .tab-title {
        // border-bottom: 2px solid #d9d9d9;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 22px;
        color: #000;
    
        &.active-tab {
          border-bottom: 3px solid #007bff;
          color: white;
          background-color: #007bff;
          border-radius: 10px 10px 0 0;
        }
      }
    }
    
    .tab-content {
      padding: 20px;
      font-size: 18px;
      // background-color: #f9f9f9;
      // border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin-top: -1px;
    }
    }
    
    
  }
}