<footer class="footer">
  <div class="footer-logo">
    <img src="assets/DNDLogo.png" alt="Logo Công ty" />
  </div>

  <div class="footer-info">
    <h3>Thông tin liên hệ</h3>
    <p>{{ contactInfo.companyName }}</p>
    <p>Điện thoại: {{ contactInfo.phone }}</p>
    <p>Email: {{ contactInfo.email }}</p>
  </div>

  <div class="footer-info">
    <h3>Chính sách dịch vụ</h3>
    <a *ngFor="let policy of servicePolicies" [href]="policy.link">{{ policy.title }}</a>
  </div>

  <div class="footer-info">
    <h3>Hỗ trợ khách hàng</h3>
    <p>{{ customerSupport.serviceConsultation }}</p>
    <p>{{ customerSupport.feedback }}</p>
    <p>Follow us:</p>
    <ng-container *ngFor="let link of customerSupport.socialLinks">
      <a [href]="link.url" target="_blank">
        <i [ngClass]="link.iconClass"></i></a>
    </ng-container>
  </div>
</footer>
