<footer class="footer">
  <div class="footer-logo">
    <img src="assets/logo.png" alt="Logo Công ty" />
  </div>
  <div class="footer-info">
    <h3>Thông tin liên hệ</h3>
    <p> Công Ty TNHH sản xuất Thương mại Dịch vụ DND </p>
    <p>Điện thoại: 039510847</p>
    <p>Email: shinodtkt.com</p>
  </div>
  <div class="footer-info">
    <h3>Chính sách dịch vụ</h3>
    <p>Hướng dẫn thanh toán</p>
    <!-- <p>Điện thoại: (012) 345-6789</p> -->
    <!-- <p>Email: info@company.com</p> -->
  </div>
  <div class="footer-info">
    <h3>Hổ trợ khách hành</h3>
    <p>Tư vấn dịch vụ: 0395100846</p>
    <p>Phản hồi góp ý: 0395100845</p>
    <p>Follow us: </p>
  </div>
</footer>
