<!-- <div class="product-management-page">
  <div class="main-content">
    <section class="product-table">
      <h2>Quản lý sản phẩm</h2>
      <div class="cover-product">
        <div class="add-product">
          <button (click)="openAddProductDialog()">Thêm sản phẩm</button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" (change)="selectAll($event)" /></th>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Phân loại sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Trạng thái</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of paginatedProducts">
            <td><input type="checkbox" /></td>
            <td>{{ product.id }}</td>
            <td>
              <img
                [src]="product.image"
                alt="{{ product.name }}"
                style="width: 50px; height: 50px; border-radius: 5px;"
              />
              {{ product.name }}
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.status }}</td>
            <td>
              <div class="action-menu">
                <button class="action-button">...</button>
                <div class="action-dropdown">
                  <button (click)="updateProduct(product.id)">Cập nhật</button>
                  <button (click)="deleteProduct(product.id)">Xóa sản phẩm</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="products.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25]"
        (page)="onPageChange($event)"
        aria-label="Select page"
      ></mat-paginator>
    </section>
  </div>
</div> -->

<div class="mat-elevation-z8 myCustomTable">
  <app-table [data]="products" [displayedColumns]="displayedColumnsaa">

  </app-table>
</div>

