  <!-- header.component.html -->
<div class="header">
  <!-- Logo Section -->
  <div [routerLink]="'/home'" class="header-logo" >
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="more-information">
    <ul class="menu-infor">
      <li *ngFor="let item of menu" (click)="reloadPage(item.routes)">
        <a [routerLink]="item.routes">{{ item.name }}</a>
      </li>
    </ul>
  </div>

  <div class="header-icons">
    <div class="icon-btn-login">
      <i class="fa-solid fa-user"></i>
      <span *ngIf="!isLoggedIn()">
        <a [routerLink]="['/login']">ĐĂNG NHẬP</a>
      </span>
      <span *ngIf="isLoggedIn()">
        <span (click)="onLogOut()">Đăng xuất</span>
      </span>
    </div>
    <div class="icon-btn-card">
      <i class="fa-solid fa-cart-plus"></i>
      <span [routerLink]="['/cart']">Giỏ hàng</span>
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span> 
    </div>
  </div>
</div>

