/* header.component.scss */
.header {
  // position: fixed;
  width: 100%;
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  // border-bottom: 1px solid #ccc;

  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;

    img {
      width: 175px;
      height: 108px;
      margin-right: 50px;
    }
  }

  .header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      width: 500px;
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 16px;
    }

    .search-btn {
      position: absolute;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      color: #aaa;
    }
  }

  .header-icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;

    .icon-btn-login, .icon-btn-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        color: #000;
      }

      i {
        font-size: 24px;
        margin-bottom: 8px;
        color:#aaa ;
      }
      span{
        color:#aaa ;
      }
    }
  }

}
