<!-- header.component.html -->
<div class="header">
  <!-- Logo Section -->
  <div [routerLink]="'/home'" class="header-logo" (click)="reloadPage()">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="header-search">
    <input type="text" placeholder="Tìm kiếm sản phẩm" />
    <button class="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="header-icons">
    <div class="icon-btn-login">
      <i class="fa-solid fa-user"></i>
      <span>Đăng nhập</span>
    </div>
    <div class="icon-btn-card">
      <i class="fa-solid fa-cart-plus"></i>
      <span>Giỏ hàng</span>
    </div>
  </div>

</div>
