
.nz-form-control{
  // width: 70%;
}

.selectType{
  margin-left: 20px;

}
.selectStatus{
  margin-left: 25px;
}
.description{
  margin-left: 10px;
}

::ng-deep {
  .product-mana {
    height: 100%;
    position: relative;

    .app-table {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}