<div class="product-banner">
  <div class="banner-cover" *ngFor="let product of productsBanner">
    <div class="image">
      <img [src]="product.image" alt="Product Image">
    </div>
    <div class="search-bar-container">
      <div class="search-bar">
        <input type="text" placeholder="Tìm kiếm sản phẩm" [(ngModel)]="searchTerm">
        <button (click)="searchProduct()" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="products-container">
  <div class="sidebar">
    <h1>Danh mục</h1>
    <ul *ngFor="let item of items" class="cover-item">
      <div class="sub-icons">
        <li (click)="filterProductsByCategory(item.subcategories)"
         [ngClass]="{'active': selectedCategory === item.subcategories}" class="title">
          {{ item.subcategories }}
        </li>
      </div>
    </ul>
  </div>

  <div class="main-content">
    <div class="header">
      <h2>Sản Phẩm</h2>
      <button class="sort-btn" (click)="toggleSort()">
        <i class="fa fa-chevron-down"></i>
        {{ sortOrder === 'asc' ? 'Giá thấp đến cao' : 'Giá cao đến thấp' }}
      </button>
    </div>

    <div class="products-grid">
      <div class="product-card" *ngFor="let product of getDisplayedProducts()">
        <div (click)="viewDetailProduct(product.name)">
          <img class="img-products" [src]="product.image" alt="{{ product.name }}" />
          <h3 [routerLink]="['product/{{product.name}}']">{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <div class="price">{{ product.price }}</div>
          <div class="availability" [ngClass]="{ 'available': product.status, 'out-of-stock': !product.status }">
            {{ product.status ? 'Còn hàng' : 'Hết hàng' }}
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div class="pagination-controls">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
        <ng-container *ngIf="totalPages > 5">
          <button *ngIf="currentPage > 3" (click)="setPage(1)">1</button>
          <span *ngIf="currentPage > 3" class="ellipsis">...</span>
        </ng-container>
        <ng-container *ngFor="let page of displayedPages">
          <button (click)="setPage(page)" [class.active]="currentPage === page">{{ page }}</button>
        </ng-container>
        <ng-container *ngIf="totalPages > 5">
          <span *ngIf="currentPage < totalPages - 2" class="ellipsis">...</span>
          <button *ngIf="currentPage < totalPages - 2" (click)="setPage(totalPages)">{{ totalPages }}</button>
        </ng-container>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
      </div>
    </div>

  </div>
</div>
