<div class="products-container"  >
  <div class="sidebar" >
    <h1>Danh mục</h1>
    <ul *ngFor="let item of items" class="cover-item">
      <div class="sub-icons">
        <li (click)="toggleItem(item)" class="title">
          {{item.title}}

        </li>
        <i class="fa fa-chevron-down"></i>
      </div>

      <ul *ngIf="item.isOpen" class="sub-title">
        <li *ngFor="let subcategory of item.subcategories">{{subcategory}}</li>
      </ul>
    </ul>
  </div>

  <div class="main-content">
    <div class="header">
      <h2>Sản Phẩm</h2>
      <button class="sort-btn" (click)="toggleSort()">
        <i class="fa fa-chevron-down"></i>
        {{ sortOrder === 'asc' ? 'Giá thấp đến cao' : 'Giá cao đến thấp' }}
      </button>
    </div>

    <div class="products-grid" (click)="reloadPage()">
      <div class="product-card" *ngFor="let product of getDisplayedProducts()">
        <div (click)="viewDetialProduct(product.name)">
          <img [src]="product.image" alt="{{product.name}}" />
          <h3 routerLink="'productdetails/{{ product.name }}'">{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <div class="price">{{ product.price }} </div>
          <div class="availability" [ngClass]="{'available': product.status, 'out-of-stock': !product.status}">
            {{ product.status ? 'Còn hàng' : 'Hết hàng' }}
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div class="pagination-controls">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&laquo;</button>
        <ng-container *ngFor="let page of displayedPages">
          <button (click)="setPage(page)" [class.active]="currentPage === page">{{ page }}</button>
        </ng-container>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&raquo;</button>
      </div>
    </div>
  </div>
</div>
