<div [class.isReset]="isReset" class="resetPassword">
    <div class="header">
        <div class="title">
            <span class="text">{{isReset?"KHỞI TẠO MẬT KHẨU":"NHẬP EMAIL CỦA BẠN"}}</span>
        </div>
        <div *ngIf="!isReset" class="close" (click)="closeDialog()"><i class="fa-solid fa-xmark icon-close"></i></div>
    </div>

    <div class="reset-body">

        <!-- Email -->
        <nz-input-group *ngIf="!isReset" class="input-group">
            <i class="fa-solid fa-lock-open icon"></i>
            <input type="email" nz-input placeholder="Email" class="inp" [(ngModel)]="emailReq" />
        </nz-input-group>


        <!-- Email -->

        <nz-input-group *ngIf="isReset" class="input-group">
            <i class="fa-solid fa-lock-open icon"></i>
            <input type="password" nz-input placeholder="New password" class="inp" [(ngModel)]="resetPassword" />
        </nz-input-group>

        <!-- Submit Button -->
        <button (click)="resetPasswordHandle()" class="btn-update" nz-button [nzSize]="'large'"
            nzType="primary">{{isReset? "Cập nhật mật khẩu":"Gửi Email"}}</button>


    </div>

</div>