::ng-deep {
  app-contact {
    .contact-container {
      position: relative;
      height: 600px;
      width: 100%;
      border-top: 1px solid blue;

      .contact-content {
        top: 150px;
        // right: 130px;
        margin-left: 40px;

        .text-container {
          width: 900px;
          height: 300px;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.7);
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          .welcome-text {
            font-size: 32px;
            font-weight: bold;
            position: relative;

            .highlight {
              font-style: italic;
              display: inline-block;
              padding-top: 5px;
              border-top: 5px solid #348BD2;
            }
          }

          p {
            margin-top: 30px;
            color: #000;
            font-size: 22px;
          }

          .button {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin-left: 570px;

            .company-btn {
              display: block;
              margin: 0 auto;
              background-color: #348BD2;
              color: #fff;
              border-radius: 50px;
              cursor: pointer;
              font-size: 18px;
              transition: background-color 0.3s ease;
              padding: 10px 50px;
              font-weight: 600;

              &:hover {
                background-color: white;
                color: #348bd2;
              }
            }
          }
        }

      }

      .image-box {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 80%;
        }
      }

    }
    @media(max-width:1084px){
      .contact-container{

        .image-box{
          display: none;
          // width: 80%;
          img{
            width: 100%;
            // margin-left: 30px;
          }
        }

        .contact-content{
          width: 100%;
          height: auto;
          padding: 10px;

          .text-container{
            // background-color: #348bd2;
            width: 80%;
            height: auto;
            .button{
              width: 40%;
              margin-left: auto;
              margin-bottom: -22px;
              .company-btn{
                padding: 10px 30px;
              }
            }
          }
        }
      }

    }
    @media(max-width:768px){
      .contact-container{

        .image-box{
          display: none;
          img{
            width: 100%;
          }
        }
        .contact-content{
          width: 100%;
          height: auto;
          padding: 10px;

          .text-container{
            // background-color: #348bd2;
            width: 80%;
            height: auto;
            .button{
              width: 40%;
              margin-left: auto;
              margin-bottom: -22px;
              .company-btn{
                padding: 10px 30px;
              }
            }
          }
        }
      }

    }
  }
}
