<div class="new-container">
  <div class="news-section">
    <div class="main-news">
      <img [src]="mainData.imgSrc" alt="Main News Image" class="main-news-image">
      <p (click)="goToProjectDetail(mainData.title)" class="new-title">{{ mainData.title }}</p>
    </div>

    <div class="other-news">
      <h3>Tin nổi bật</h3>
      <div class="news-item" *ngFor="let newsItem of featureData">
        <img [src]="newsItem.imgSrc" alt="Image News" class="image-other">
        <p (click)="goToProjectDetail(newsItem.title)" class="new-title">{{ newsItem.title }}</p>
      </div>
    </div>
  </div>
</div>