::ng-deep {
  app-news-content {
    .new-container {}

    .news-section {
      display: flex;
      gap: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      width: 70%;
      margin: 0 auto;
      font-family: Arial, sans-serif;

      /* Flex container to align news title and other news */
      .main-news {
        flex: 2;


      }
      p{
          cursor: pointer;
        }

      .news-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        border-top: 5px solid #0052cc;
        padding-top: 10px;
      }

      .main-news-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      .main-news p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
      }

      .other-news {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .other-news h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6;
        border-left: 6px solid #0052cc;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      .news-item {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 10px;
      }

      .news-item img {
        width: 200px;
        height: 120px;
        border-radius: 8px;
      }

      .news-item p {
        font-size: 14px;
        font-weight: bold;
      }

      .image-other {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    @media (max-width: 780px) {
      .news-section {
        display: inline-block;
        width: 100%;

        .other-news {
          // display: ;

          .news-item {
            display: inline-flex;
            flex-direction: column;
            // align-items: center;
            grid-template-columns: repeat(2, 1fr);

          }
        }
      }
    }
  }
}
