<div class="news-relation">
    <h3>Bài viết liên quan</h3>
  <div class="new-container">
    <div class="new-card" *ngFor="let newRelation of dataNewsRelation">
        <div class="image">
          <img [src]="newRelation.imgSrc" alt="{{newRelation.imgSrc}}">
        </div>
        <div class="new-details">
          <a (click)="goToNewDetail(newRelation.title)" class="new-title" text-black>{{newRelation.title}}</a>
        </div>
        <a class="new-link" (click)="goToNewDetail(newRelation.title)">Xem chi tiết</a>
    </div>
  </div>
</div>
