.selectType {
  margin-left: 20px;
}
.description {
  margin-left: 15px;
}

::ng-deep {
  .project-mana {
    height: 100%;
    position: relative;

    .app-table {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}