<div class="mat-elevation-z8 myCustomTable">
  <table mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <mat-checkbox (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
          (click)="$event.stopPropagation(); onSelectionChange()">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <!-- Ng-content để chèn cột từ component cha -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <!-- Select Column -->
      <ng-container *ngIf="column === 'select'">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <mat-checkbox (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            (click)="$event.stopPropagation(); onSelectionChange()">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Regular Columns -->
      <ng-container *ngIf="column !== 'select' && column !== 'popup'">
        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
        <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
      </ng-container>

      <!-- Popup Column -->
      <ng-container *ngIf="column === 'popup'">
        <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
        <td mat-cell *matCellDef="let element" style="width: 40px; border-left: 1px solid #cbd0d5">
          <div class="button-container">
            <button class="button-popup" (click)="onPopupClick(element)">
              <span class="show-popup">...</span>
            </button>
          </div>
        </td>
      </ng-container>
    </ng-container>


    <!-- <ng-container matColumnDef="popup">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element" style="width: 40px; border-left: 1px solid #cbd0d5">
          <div class="button-container">
              <button class="button-popup" >
                  <span class="show-popup">...ádasdasdas</span>
              </button>
          </div>
      </td>
    </ng-container> -->
    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ 'selected-row': selection.isSelected(row) }"></tr>
  </table>
</div>

<!-- Pagination -->
<mat-paginator [pageSizeOptions]="pageSizes" [pageSize]="pageSize" showFirstLastButtons
  (page)="pageEvent = onPaginateChange($event)">
  ></mat-paginator>