<div class="mat-elevation-z8 myCustomTable">
  <table mat-table [dataSource]="dataSource">
    <!-- Ng-content để chèn cột từ component cha -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">


      <!-- Regular Columns -->
      <ng-container *ngIf="column !== 'select' && column !== 'popup'">
        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
        <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
      </ng-container>

      <!-- Popup Column -->
      <ng-container *ngIf="column === 'popup'">
        <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
        <td mat-cell *matCellDef="let element" style="width: 40px; border-left: 1px solid #cbd0d5">
          <div class="button-container">
            <button class="button-popup" (click)="onOpenDrawer(element)">
              <span class="show-popup">...</span>
            </button>
          </div>

        </td>
      </ng-container>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ 'selected-row': selection.isSelected(row) }"></tr>
  </table>
</div>

<!-- Pagination -->
<mat-paginator [pageSizeOptions]="pageSizes" [pageSize]="pageSize" showFirstLastButtons
  (page)="pageEvent = onPaginateChange($event)">
  ></mat-paginator>