<div class="mat-elevation-z8 myCustomTable">
  <!-- Drawer -->
  <nz-drawer
    [nzVisible]="visible"
    [nzTitle]="isEditing ? 'Cập nhật thông tin tài khoản' : 'Thêm tài khoản mới'"
    [nzExtra]="drawerExtra"
    [nzWidth]="720"
    [nzFooter]="footerTpl"
    (nzOnClose)="closeDrawer()"
  >
  <ng-template #drawerExtra>
    <button
      *ngIf="isEditing"
      nz-button
      nzDanger
      (click)="deleteProduct(currentCustomer.name)"
      class="delete-button"
    >
      Xóa tài khoản
    </button>
  </ng-template>


    <form nz-form *nzDrawerContent>
      <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label>Tên khách hàng</nz-form-label>
            <nz-form-control
            class="nameCustomer">
              <input
                ngModel="product.name"
                nz-input placeholder="Hãy nhập vào tên khách hàng..." />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label>Email</nz-form-label>
              <nz-form-control
              class="emailCustomer">
                <input nz-input placeholder="Hãy nhập vào email..." />
              </nz-form-control>
          </nz-form-item>
        </div>

      </div>
        <div nz-row [nzGutter]="12">
          <div nz-col nzSpan="16">
            <nz-form-item>
              <nz-form-label>SDT</nz-form-label>
                <nz-form-control
                class="phoneCustomer">
                  <input nz-input placeholder="Hãy nhập vào sdt..." />
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control  class="description">
              <textarea
                nz-input
                placeholder="please enter url description"
                [nzAutosize]="{ minRows: 8, maxRows: 8 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label>Image</nz-form-label>
            <nz-upload
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzListType="picture"
              [(nzFileList)]="fileList1"
            >
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            Upload
          </button>
        </nz-upload>
          </nz-form-item>
        </div>
      </div>
    </form>
    <ng-template #footerTpl>
      <div style="float: right">
        <button
          *ngIf="isEditing"
          nz-button
          nzDanger="danger"
          (click)="deleteProduct(currentCustomer.name)"
          class="delete-button"
        >
          Xóa sản phẩm
        </button>
        <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">Cancel</button>
        <button nz-button style="margin-right: 8px;" nzType="primary" (click)="saveProduct()">Submit</button>
      </div>
    </ng-template>
  </nz-drawer>

  <!-- Action Buttons -->
  <button nz-button nzType="primary" (click)="openDrawerForCreate()">Thêm khách hàng</button>

  <!-- Product Table -->
  <app-table
    [data]="customers"
    [displayedColumns]="displayedColumnsCustomer"
    (onClickAction)="openDrawerForEdit($event)"
  ></app-table>
</div>
