<div *ngFor="let product of products" class="product-detail">
  <div class="product-image">
    <img [src]="product.image" alt="{{ product.name }}">
    <div class="product-thumbnail">
      <img [src]="product.thumbnail" alt="{{ product.name }} Thumbnail">
    </div>
  </div>

  <div class="product-info" *ngIf="product; else noProduct">
    <h1 [routerLink]="'/productdetails/{{ product.code }}'">{{ product.name }}</h1>
    <p>Mã hàng: {{ product.code }}</p>
    <p>Tình trạng: <span [ngClass]="{'in-stock': product.inStock === 'Còn hàng', 'out-of-stock': product.inStock === 'Hết hàng'}">{{ product.inStock }}</span></p>

    <div class="product-price">
      <span class="price">{{ product.price }} VND</span>
    </div>

    <div class="product-quantity">
      <button class="quantity-btn">-</button>
      <input type="number" value="1" min="1" />
      <button class="quantity-btn">+</button>
    </div>

    <div class="product-actions">
      <button class="add-cart-btn">Thêm vào giỏ hàng</button>
      <div class="action-buttons">
        <button class="buy-now-btn">Mua ngay</button>
        <button class="contact-btn">Liên hệ tư vấn</button>
      </div>
    </div>
  </div>
  <ng-template #noProduct>

    <p>Sản phẩm không tồn tại</p>
  </ng-template>

</div>
