.layout {
  display: flex;
  height: 100vh;

  .header-logo {
    img {
      cursor: pointer;
      width: 120px;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
  .side-bar {
    width: 200px;
    background-color: #348bd2;
    color: white;
    padding: 20px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          display: block;
          padding: 10px 20px;
          color: #ecf0f1;
          border-radius: 30px 0px 0px 30px;
          font-size: 16px;
          font-weight: 500;
          transition: background-color 0.3s, color 0.3s;
          margin-left: 50px;

          &:hover {
            background-color: #34495e;
            color: #ffffff;
          }

          &.active {
            background-color: #34495e;
            color: white;
          }
        }
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #ecf0f1;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

      span {
        font-size: 18px;
        font-weight: 600;
        color: #2c3e50;
      }

      .user-profile {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        span {
          font-size: 16px;
          color: #2c3e50;
        }
      }
    }

    .content-body {
      padding: 20px;
      overflow-y: auto;
      background-color: #f7f7f7;
      height: calc(100vh - 60px); // Trừ chiều cao của header
    }
  }
}
