<div class="list-container">
    <div class="background"></div>

    <div class="list-content z-10 pt-[80px]">

        <div class="title">
            <span class="text-title text-center  ">Sản Phẩm Của Chúng Tôi</span>
        </div>
        <div class=" list-item pt-20">
            <app-product-item class="flex flex-row justify-center flex-nowrap gap-3"
                [products]="products"></app-product-item>
        </div>
        <div class="change-route absolute bottom-9 text-black z-10 left-8 underline ">
            <span>Xem tất cả sản phẩm -></span>
          </div>
    </div>
</div>